Esperos.ico
Team Manager.exe
Οδηγίες Χρήσης.pdf Ομάδες 20-21 Οκτώβριος .pdf
TeamManger.sln
TeamManger.pyproj
PythonApplication1.pyproj.user TeamManger.pyproj.user
PythonApplication1.pyproj.user TeamManger.pyproj.user
PythonApplication1.pyproj.user TeamManger.pyproj.user
TeamManger.pyproj.user
PythonApplication.pyproj.user
.vs/
PythonApplication1.pyproj.user
__pycache__/
assets/
build/
Οδηγίες Χρήσης.pdf Ομάδες 20-21 Οκτώβριος .pdf
Run_app.bat
